* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, sans-serif;
    background-color: linen;
}

body {
    padding: 16px;
}

.mainpagetitle {
    text-align: center;
    margin-top: 32px;
}

ul.recipenav {
    list-style: none;
    min-height: 60vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 20px;
}

.naanimg, 
.mushroomporkchopsimg,
.kungpaoimg {
    height: auto;
    width: 300px;
    /* margin: 8px 16px; */
}

.descriptioncontainer,
.ingredientscontainer,
.stepscontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.ingredientscontainer {
    margin-left: 16px;
}

.stepscontainer {
    margin-left: 16px;
}
